@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
	font-family: "Roboto", sans-serif;
	color: rgb(20, 20, 20);
	background-color: #f5f5f5;
}

.navbar-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-left: 3rem;
	padding-right: 3rem;
	height: 80px;
	background-color: fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.nav-header,
.nav-header h2 {
	margin-right: auto;
	font-size: 1.5rem;
	font-weight: 500;
}

.nav-shortcuts,
.nav-shortcuts ul {
	display: flex;
	gap: 1rem;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: rgb(20, 20, 20);
	font-weight: 500;
}

.nav-icons {
	display: flex;
	gap: 1rem;
}

.nav-shortcuts-mobile {
	display: none;
	font-size: 1.5rem;
	font-weight: 500;
	margin-left: 3rem;
	margin-top: 2rem;
}

.menu {
	display: none;
}

.show {
	display: block;
}

@media screen and (max-width: 768px) {
	.nav-shortcuts {
		display: none;
	}

	.nav-icons {
		display: none;
	}

	.menu {
		display: block;
	}
}
